<!DOCTYPE html>
<html lang="en">

<div class="row">
	<div class="col-md-3">
		<h5>About Us</h5>
		<p>We are a leading company providing top-notch services and solutions for our clients.</p>
	</div>

	<div class="col-md-2">
		<nav>
			<h5>Quick Links</h5>
			<ul>
				<li><a href="/home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/csr">CSR</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="col-md-2">
		<nav>
			<h5>Products & Services</h5>
			<ul>
				<li><a href="/home">Tooling & Die</a></li>
				<li><a href="/about">Stamping</a></li>
				<li><a href="/csr">Welding</a></li>
				<li><a href="/contact">Plating</a></li>
			</ul>
		</nav>
	</div>

	<div class="col-md-4">
		<h5>Contact</h5>
		<ul>
			<li><strong>Email:</strong> info@baethai.com</li>
			<li><strong>Phone:</strong> +66 (0)29 187 214</li>
			<li><strong>Address:</strong> 10 Soi Ramindra 117, Yeak 2, Ramindra Rd., Minburi, Minburi, Bangkok, Thailand 10510</li>
		</ul>
	</div>
</div>


</html>