<!DOCTYPE html>
<html lang="en">

<div class="row">
	<div class="col-sm-3  my-4 mx-md-3 my-sm-0" id="footer-logo_box">
		<a href="#home">
			<img src="img/logo_bae_w_name.svg" alt="company logo">
		</a>
		<div id="footer-logo_iso">
			<img src="img/common/logo-ISO.svg" alt="Logo of ISO">
			<img src="img/common/logo-IATF_footer.svg" alt="Logo of IATF">
			<span>Certified<br>by&#32;</span>
			<img src="img/common/logo-URS.svg" alt="Logo of URS, certification body">
		</div>
	</div>


	<div class="col-sm-2 col-6">
		<nav>
			<h5>Quick Menu</h5>
			<ul>
				<li><a data-common-id="word_home" href="index.html">Home</a></li>
				<li><a data-common-id="word_about" href="about.html">About</a></li>
				<li><a data-common-id="word_products" href="products.html">Products</a></li>
				<li><a href="csr.html">CSR</a></li>
				<li><a data-common-id="word_contact" href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
	
	<div class="col-sm-2 col-6">
		<nav>
			<h5>Products & Services</h5>
			<ul>
				<li><a id="word-tool" href="tooling.html">Tooling & Die</a></li>
				<li><a id="word-stamp" href="stamping.html">Stamping</a></li>
				<li><a id="word-weld" href="welding.html">Welding</a></li>
				<li><a id="word-plate" href="plateing.html">Plating</a></li>
			</ul>
		</nav>
	</div>

	<div class="col-sm-3 mx-3 mx-md-3 my-4 my-sm-0">
		<h5 id="word-contact">Contact</h5>
		<ul class="contact_ul">
			<li><a href="mailto:">info@baethai.com</a></li>
			<li><a href="tel:+66-29-187-214">+66 (0)29 187 214</a></li>
			<li><a href="https://maps.app.goo.gl/uey2V5Fak9KmGo3Z7" target="_blank">10 Soi Ramindra 117, Yeak 2, Ramindra Rd., Minburi, Minburi, Bangkok, Thailand 10510</a></li>
		</ul>
	</div>
</div>


</html>
