<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-expand-lg">
	<a href="index.html" id="header-logo" class="nav-link p-0">
		<img src="img/logo_bae_w_name.svg" alt="company logo">
	</a>
	
	<button id="navbar-toggler" class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target=".htmlnavbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="hmbgr_bar bar1"></span>
		<span class="hmbgr_bar bar2"></span>
		<span class="hmbgr_bar bar3"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav p-0">
			<li class="nav-item">
				<a id="word_home" class="nav-link active" href="index.html">Home</a>
			</li>
			<li class="nav-item">
				<a lang-id="word_about" class="nav-link" href="about.html">About</a>
			</li>
			<li class="nav-item" id="li-products" style="display: flex; justify-content: center;">
				<a lang-id="word_products" class="nav-link" href="products.html">Products</a>
				<button id="rotateButton" class="rotate-btn m-0 p-0">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="8" viewBox="0 0 16 10" fill="none">
						<path class="stroke-white" stroke-width="2" stroke-linecap="square" d="m1.338 1.167 6.666 6.666 6.667-6.666"></path>
					</svg>
				</button>
				<div id="dropdownMenu" class="dropdown-menu">
					<a lang-id="word_tool" class="dropdown-item" href="tooling.html">Tooling & Die</a>
					<a lang-id="word_stamp" class="dropdown-item" href="stamping.html">Stamping</a>
					<a lang-id="word_weld" class="dropdown-item" href="welding.html">Welding</a>
					<a lang-id="word_plate" class="dropdown-item" href="plating.html">Plating</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="csr.html">CSR</a>
			</li>
			<li class="nav-item">
				<a lang-id="word_contact" class="nav-link" href="contact.html">Contact</a>
			</li>
		</ul>
	</div>
	<select id="lang-sel" class="font_wh my-0 bodr_bx">
		<option value="en" data-flag="img/common/flag/flag_uk.svg">&nbsp;&nbsp;&nbsp;&nbsp;EN</option>
		<option value="th" data-flag="img/common/flag/flag_th.svg">&nbsp;&nbsp;&nbsp;&nbsp;TH</option>
		<option value="jp" data-flag="img/common/flag/flag_jp.svg">&nbsp;&nbsp;&nbsp;&nbsp;JP</option>
	</select>

</nav>

</html>
